# ==========================================
# Qt 编译生成的目录 
# ==========================================
build/
debug/
release/
res/
font/
static/
qwindowkit-main/
*.Debug
*.Release

# ==========================================
# Qt Creator 用户专属配置文件 (包含你本地的绝对路径，绝对不能传)
# ==========================================
*.user
*.user.*

# ==========================================
# 编译中间文件
# ==========================================
*.obj
*.o
*.moc
*.pch
*.gch
*.res
*.rcc
*.a
*.lib
*.exe
*.dll
*.so
*.dylib
Makefile*
.qmake.stash
moc_*.cpp
ui_*.h
qrc_*.cpp
*.qrc

# ==========================================
# 你的本地 SQLite 数据库 (保护用户隐私数据)
# ==========================================
ChatData/
*.db
*.sqlite
config.ini

# ==========================================
# 操作系统缓存文件
# ==========================================
.DS_Store
Thumbs.db